<form action="/system/create" method="POST" role="form" class="new">
	<div class="form-group">
	<h2>Create a system</h2>

{{!-- <% if(flash && flash.err) { %>
<ul class="alert alert-success">
<% Object.keys(flash.err).forEach(function(error) { %>
<li><%- JSON.stringify(flash.err[error]) %></li>
<% }) %>
</ul>
<% } %> --}}

	<div class="control-group" style = "width: 300px;">
	<input type="text" class="form-control" placeholder="uptime" name="uptime">
	</div>

	<div class="control-group" style = "width: 300px;">
	<input type="text" class="form-control" placeholder="loadavg" name="loadavg">
	</div>

	<div class="control-group" style = "width: 300px;">
	<input type="text" class="form-control" placeholder="freemem" name="freemem">
	</div>

	<div class="control-group" style = "width: 300px;">
	<input type="text" class="form-control" placeholder="cpus" name="cpus">
	</div>

	</div>
	<input type="submit" value="Submit" class="btn btn-default"/> |
	<a href="/system">Back to list</a>
</form>
